In [3]:
import numpy as np
import pandas as pd

In [2]:
np.__version__

'1.21.5'

In [9]:
url="https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv"
df=pd.read_csv(url)
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

# Question 2
How many records are in the dataset?

Here you need to specify the number of rows.

In [26]:
df.shape[0]

11914

# Question 3 

Who are the most popular car manufacturers (top-3) according to the dataset?

In [27]:
df.Make.value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

# Question 4
What's the number of unique Audi car models in the dataset?

In [16]:
df[df.Make=='Audi']['Model'].nunique()

34

# Question 5
How many columns in the dataset have missing values?

In [22]:
np.sum(df.isnull().sum()>0)

5

# Question 6
Does the median value change after filling missing values?

In [28]:
mean_ec = df['Engine Cylinders'].mean()
mean_ec

5.628828677213059

In [29]:
df['Engine Cylinders'].fillna(mean_ec).mean()

5.628828677213056

In [30]:
df['Engine Cylinders'].fillna(0).mean()

5.614655027698506

# Question 7
Select all the "Lotus" cars from the dataset.
Select only columns "Engine HP", "Engine Cylinders".
Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the first element of w?

In [31]:
df_rr = df[df.Make == "Lotus"]

In [32]:
df_rr = df_rr[["Engine HP", "Engine Cylinders"]]
df_rr = df_rr.drop_duplicates()
df_rr

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [34]:
X = df_rr.values

In [36]:
XTX = X.T.dot(X)

In [37]:
XTX_inv = np.linalg.inv(XTX)

In [38]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [39]:
w = XTX_inv.dot(X.T).dot(y)

In [40]:
w[0]

4.594944810094551